<div class="mb-3">
    <label for="@Id"> @Label: </label>
    <div>
        <InputDate class="form-control"
                   Value="@Value"
                   ValueChanged="@ValueChanged"
                   ValueExpression="@ValueExpression"
                   autocomplete="off"
                   id="@Id" />

        <ValidationMessage For="ValueExpression" />
    </div>
</div>

@code {
    private string Id { get; set; } = Guid.NewGuid().ToString();

    [Parameter, EditorRequired] public string Label { get; set; }
    [Parameter] public DateTime? Value { get; set; }
    [Parameter] public EventCallback<DateTime?> ValueChanged { get; set; }
    [Parameter] public Expression<Func<DateTime?>> ValueExpression { get; set; } = null!;
}

        